documents
!documents/vklady--v-belorusskih-rublyah_full.txt
langfuse
models
src/.idea
src/.ipynb_checkpoints
src/.vscode
scripts/*.ipynb
src/archive
scripts/*.py
!src/mixtral_works.py
!src/works.py
langfuse schema
.idea
.ipynb_checkpoints
.vscode
scripts/api/*.json
scripts/api/*.xlsx
scripts/api/*.ipynb
src/api/__pycache__
src/api/api_docs_examples
src/sql2text
src/fake_sbol.db
src/trash/
*/__pycache__
*.ipynb
*.txt
*.csv
*.html
*.gz
*.xml
*.pyc
*.pkl
*.xlsx
*.bin
*/**/__pycache__
*.png
src/web_scraping/
plan
out
scripts/web_scraping/*.ipynb
scripts
backup_instruct
backup
src/git-filter-repo
