documents
!documents/vklady--v-belorusskih-rublyah_full.txt
langfuse
models
scripts/.idea
scripts/.ipynb_checkpoints
scripts/.vscode
scripts/*.ipynb
scripts/archive
scripts/*.py
!scripts/mixtral_works.py
!scripts/works.py
langfuse schema
.idea
.ipynb_checkpoints
.vscode
scripts/api/*.json
scripts/api/*.xlsx
scripts/api/*.ipynb
scripts/api/__pycache__
scripts/api/api_docs_examples
scripts/sql2text
scripts/fake_sbol.db
scripts/trash/
*/__pycache__
*.ipynb
*.txt
*.csv
*.html
*.gz
*.xml
*.pyc
*.pkl
*.xlsx
*.bin
*/**/__pycache__
*.png
scripts/web_scraping/
plan
out
scripts/web_scraping/*.ipynb
